Automação Web e Busca de Informações com Python


Busca na internet de forma automática a cotação de certas commodites e verifica se ela está abaixo do preço ideal de compra definido em uma tabela. Se tiver, é indicado que a compra é recomendada.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

Ferramentas/bibliotecas:
- Pandas
- Selenium

!!! Instalar Webdriver para funcionar

In [14]:
# !pip install selenium

In [15]:
# drivers
#    firefox -> geckodriver
#    chrome -> chromedriver

# Passo 1: Abre o navegador
from selenium import webdriver
navegador = webdriver.Chrome()

In [16]:
# Passo 2: Importa a base de dados
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")

In [17]:
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    tabela.loc[linha, "Preço Atual"] = float(preco)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43      NaN
1      Soja       163.59       133.82      NaN
2       Boi       282.20       267.75      NaN
3  Petróleo       424.37       379.22      NaN
4   Algodão       497.76       390.52      NaN
5    Açúcar       136.23       148.92      NaN
6      Café      1092.87      1042.37      NaN
7      Ouro       321.77       315.32      NaN
8   Tilápia         9.05         9.64      NaN

In [18]:
# preenche a coluna "comprar"
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

# exporta a base para o excel
tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43     True
1      Soja       163.59       133.82     True
2       Boi       282.20       267.75     True
3  Petróleo       424.37       379.22     True
4   Algodão       497.76       390.52     True
5    Açúcar       136.23       148.92    False
6      Café      1092.87      1042.37     True
7      Ouro       321.77       315.32     True
8   Tilápia         9.05         9.64    False